/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  font-size: 100%;
  line-height: 35px;
}

body {
  margin-top: 0;
  padding: 0;
}

h1 {
  font-size: 500%;
  font-family: 'Open Sans', sans-serif;
  padding: 30px;
}

h3 {
  color: #00b172;
  font-size: 2em;
  padding-top: 5%;
  text-align: center;
}

#intro-title {
  font-size: 250%;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #00b172;
  margin-top: 5%;
}

header {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
  padding: 15%;
  text-align: center;
}

header p {
  font-size: 1.8em;
  margin: 30px auto;
  width: 50%;
  text-align: center;
  font-weight: lighter;
}

nav {
  padding: 0;
  margin-bottom: 20px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

nav img {
  width: 20%;
  padding: 2%;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  font-size: 1.4em;
}

.features {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  padding-top: 5%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  align-content: center;
}

.features img {
  width: 20%;
  display: block;
  margin: 0 auto;
}

.features p {
  font-size: 1.5em;
  font-weight: lighter;
  margin-left: 27%;
  width: 48%;
  padding-top: 5%;
}

#intro-title {
  display: block;
}

.how-to {
  background-color: #00b172;
  background-image: url('../images/spotify-icon-white.png');
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: center center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  margin: 0 2% 2% 2%;
}

.how-to img {
  width: 50%;
  margin-left: 30%;
  padding: 15% 0 10% 0;
}

h2 {
  font-size: 2em;
  text-decoration: underline;
  text-underline-offset: 0.4em;
  padding-top: 0.5%;
  padding-bottom: 2%;
}

.how-to h3 {
  color: #fff;
  text-align: left;
  padding-bottom: 4%;
  font-weight: lighter;
}

.how-to h2 {
  padding-top: 7%;
}

.how-to p {
  width: 38%;
  font-size: 1.2em;
  line-height: 1.4em;
}

.columns {
  margin-left: 5%;
}
